build/
release/

# General
.DS_Store

# Xcode
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
UserInterfaceState.xcuserstate
project.xcworkspace
xcuserdata
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# IDEs
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# Build artifacts
*.app
*.dSYM.zip
*.dSYM
*.ipa
*.dmg

# Backup files
*.backup
